html {
}

h1,h2,h3,h4 {
    font-family: "Georgia", "Helvetica Neue";
}

body {
    font-family: "Helvetica Neue";
}
header {
    margin-top: 1em;
    margin-bottom: 1em;
}

container {
    margin-left:auto;
    margin-right:auto;
    padding-right:3em;
    padding-left:3em;
}

footer {
    background-color: #fbb03b;
    align-content: center;
    padding-bottom: .5em;
    padding-top: .5em;
    padding-left: .5em;
    padding-right: .5em;
    width: 100%;
}

@import "node_modules/bootstrap/scss/bootstrap";
